<header>
    <div class="container" id="nav-container">
      <nav class="navbar navbar-expand-lg fixed-top">
        <a href="#" class="navbar-brand">
          <img id="logo" src="img/logo-livro.png" alt="logo"> LIVRARIA SANTA CATARINA
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links" 
        aria-controls="navbar-links" aria-expanded="false" aria-label="toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbar-links"> 
          <div class="navbar-nav">
            <a class="nav-item nav-link" id="home-menu">Home</a>
            <a class="nav-item nav-link" id="about-menu">Sobre</a>
            <a class="nav-item nav-link" id="book-menu">Livros</a>
            <a class="nav-item nav-link" id="prom-menu">Promoçoes</a>
            <a class="nav-item nav-link" id="contact-menu">Contato</a>
          </div>
        </div>
      </nav>
    </div>
  </header>