<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Lista-de-Livros </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<header>
  <div class="container" id="nav-container">
    <nav class="navbar navbar-expand-lg fixed-top">
      <a href="#" class="navbar-brand">
        <img id="logo" src="img/logo-livro.png" alt="logo"> TODOS OS LIVROS
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links" 
      aria-controls="navbar-links" aria-expanded="false" aria-label="toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbar-links"> 
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="cat-menu">Categorias</a>
          <a class="nav-item nav-link" id="new-menu">Lançamentos</a>
          <a class="nav-item nav-link" id="magazine-menu">Revistas</a>
          <a class="nav-item nav-link" id="comic-menu">Hqs</a>
          <a class="nav-item nav-link" id="topbok-menu">Mais vendidos</a>
        </div>
      </div>
      <style>
        body {
          font-family: 'Roboto', sans-serif;
        }

        .row {
          margin: 0;
        }

        .container {
          padding: 70% 0;
        }

        .container2 {
          padding-top: 7%;
        }

        p,li {
          color: #444;
          font-size: 14px;
        }

        header, .navbar {
          background-color: #6dbfe7;
        }

        #nav-container {
          padding-top: 0;
          padding-bottom: 0;
        }

        #logo {
          width: 75px;
        }

        .navbar-brand {
          padding: 0;
          color: #fff;
        }

        .navbar-brand:hover {
          color: rgba(26, 23, 23, 0.2);
        }

        #navbar-links a {
          color: #fff;
        }

        .navbar-expand-lg  .navbar-nav .nav-link {
          padding: 1rem .8rem;
        }
      </style>
    </nav>
  </div>
</header>
  <div class="container2">
    <h1 style="padding: 10px;">Livros Disponiveis:</h1>
    <div class="row" style="padding: 20px;">
      <div class="col">
        <img src="img/livro01.png" style="max-width: 100%">
        <a href="/livros/id" class="main-btn">COMPRAR
          <img src="img/moeda.png" style="max-width: 10%">
        </a>
        <Button>CARRINHO
          <img src="img/carrinho.png" style="max-width: 10%"></a>
        </Button>
      </div>
      <div class="col">
        <img src="img/livro02.png" style="max-width: 100%">
        <button>COMPRAR
          <img src="img/moeda.png" style="max-width: 10%"></a>
        </button>
        <Button>CARRINHO
          <img src="img/carrinho.png" style="max-width: 10%"></a>
        </Button>
      </div>
      <div class="col">
        <img src="img/livro03.jpg" style="max-width: 100%">
        <button>COMPRAR
          <img src="img/moeda.png" style="max-width: 10%"></a>
        </button>
        <Button>CARRINHO
          <img src="img/carrinho.png" style="max-width: 10%"></a>
        </Button>
      </div>
      <div class="col">
        <img src="img/livro04.jpg" style="max-width: 100%">
        <button>COMPRAR
          <img src="img/moeda.png" style="max-width: 10%"></a>
        </button>
        <Button>CARRINHO
          <img src="img/carrinho.png" style="max-width: 10%"></a>
        </Button>
      </div>
      <div class="col">
        <img src="img/livro05.jpg" style="max-width: 100%">
        <button>COMPRAR
          <img src="img/moeda.png" style="max-width: 10%"></a>
        </button>
        <Button>CARRINHO
          <img src="img/carrinho.png" style="max-width: 10%"></a>
        </Button>
      </div>
    </div>
    <div class="row" style="padding: 20px;">
      <div class="col">
        <img src="img/livro06.jpg" style="max-width: 100%">
        <button>COMPRAR
          <img src="img/moeda.png" style="max-width: 10%"></a>
        </button>
        <Button>CARRINHO
          <img src="img/carrinho.png" style="max-width: 10%"></a>
        </Button>
      </div>
      <div class="col">
        <img src="img/livro07.jpg" style="max-width: 100%">
        <button>COMPRAR
          <img src="img/moeda.png" style="max-width: 10%"></a>
        </button>
        <Button>CARRINHO
          <img src="img/carrinho.png" style="max-width: 10%"></a>
        </Button>
      </div>
      <div class="col">
        <img src="img/livro08.jpg" style="max-width: 100%">
        <button>COMPRAR
          <img src="img/moeda.png" style="max-width: 10%"></a>
        </button>
        <Button>CARRINHO
          <img src="img/carrinho.png" style="max-width: 10%"></a>
        </Button>
      </div>
      <div class="col">
        <img src="img/livro09.jpg" style="max-width: 100%">
        <button>COMPRAR
          <img src="img/moeda.png" style="max-width: 10%"></a>
        </button>
        <Button>CARRINHO
          <img src="img/carrinho.png" style="max-width: 10%"></a>
        </Button>
      </div>
      <div class="col">
        <img src="img/livro10.jpg" style="max-width: 100%">
        <button>COMPRAR
          <img src="img/moeda.png" style="max-width: 10%"></a>
        </button>
        <Button>CARRINHO
          <img src="img/carrinho.png" style="max-width: 10%"></a>
        </Button>
      </div>
    </div>
  </div>











<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>