<%- include('./partials/menu-home.ejs')  %> 
  <div class="container2">
    <h1 style="padding: 10px;">Livros Disponiveis:</h1>
    <div class="row" style="padding: 20px;">
      <div class="col">
        <img src="img/livro01.png" style="max-width: 100%">
        <a href="/livros/id" class="main-btn">COMPRAR
          <img src="img/moeda.png" style="max-width: 10%">
        </a>
        <Button>CARRINHO
          <img src="img/carrinho.png" style="max-width: 10%"></a>
        </Button>
      </div>
      <div class="col">
        <img src="img/livro02.png" style="max-width: 100%">
        <button>COMPRAR
          <img src="img/moeda.png" style="max-width: 10%"></a>
        </button>
        <Button>CARRINHO
          <img src="img/carrinho.png" style="max-width: 10%"></a>
        </Button>
      </div>
      <div class="col">
        <img src="img/livro03.jpg" style="max-width: 100%">
        <button>COMPRAR
          <img src="img/moeda.png" style="max-width: 10%"></a>
        </button>
        <Button>CARRINHO
          <img src="img/carrinho.png" style="max-width: 10%"></a>
        </Button>
      </div>
      <div class="col">
        <img src="img/livro04.jpg" style="max-width: 100%">
        <button>COMPRAR
          <img src="img/moeda.png" style="max-width: 10%"></a>
        </button>
        <Button>CARRINHO
          <img src="img/carrinho.png" style="max-width: 10%"></a>
        </Button>
      </div>
      <div class="col">
        <img src="img/livro05.jpg" style="max-width: 100%">
        <button>COMPRAR
          <img src="img/moeda.png" style="max-width: 10%"></a>
        </button>
        <Button>CARRINHO
          <img src="img/carrinho.png" style="max-width: 10%"></a>
        </Button>
      </div>
    </div>
    <div class="row" style="padding: 20px;">
      <div class="col">
        <img src="img/livro06.jpg" style="max-width: 100%">
        <button>COMPRAR
          <img src="img/moeda.png" style="max-width: 10%"></a>
        </button>
        <Button>CARRINHO
          <img src="img/carrinho.png" style="max-width: 10%"></a>
        </Button>
      </div>
      <div class="col">
        <img src="img/livro07.jpg" style="max-width: 100%">
        <button>COMPRAR
          <img src="img/moeda.png" style="max-width: 10%"></a>
        </button>
        <Button>CARRINHO
          <img src="img/carrinho.png" style="max-width: 10%"></a>
        </Button>
      </div>
      <div class="col">
        <img src="img/livro08.jpg" style="max-width: 100%">
        <button>COMPRAR
          <img src="img/moeda.png" style="max-width: 10%"></a>
        </button>
        <Button>CARRINHO
          <img src="img/carrinho.png" style="max-width: 10%"></a>
        </Button>
      </div>
      <div class="col">
        <img src="img/livro09.jpg" style="max-width: 100%">
        <button>COMPRAR
          <img src="img/moeda.png" style="max-width: 10%"></a>
        </button>
        <Button>CARRINHO
          <img src="img/carrinho.png" style="max-width: 10%"></a>
        </Button>
      </div>
      <div class="col">
        <img src="img/livro10.jpg" style="max-width: 100%">
        <button>COMPRAR
          <img src="img/moeda.png" style="max-width: 10%"></a>
        </button>
        <Button>CARRINHO
          <img src="img/carrinho.png" style="max-width: 10%"></a>
        </Button>
      </div>
    </div>
  </div>

  <%- include('./partials/footer.ejs')  %>
